**/*.aux
**/*.glo
**/*.idx
**/*.log
**/*.toc
**/*.ist
**/*.acn
**/*.acr
**/*.alg
**/*.bbl
**/*.blg
**/*.dvi
**/*.glg
**/*.gls
**/*.ilg
**/*.ind
**/*.lof
**/*.lot
**/*.maf
**/*.mtc
**/*.mtc1
**/*.out
**/*.gz
**/*.gz(busy)
**/*.zip
**/*.fls
**/*.fdb_latexmk
**/*.bat
**/*workspace
**/*project
TAC19/~$sponse.docx
TAC19/~WRL2964.tmp

**/.DS_Store
**/.vscode
**/*.synctex(busy)
**/main.pdf
paper/main.pdf
